{{ define "main" }}

  <div class = "row">
    <div class = "col-md-12">
      <h1>About {{ .Site.Title }}</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-3">
      {{ if isset $.Site.Params "about_logo" }}
      <img src="{{ $.Site.Params.about_logo }}" width="250px"/> 
      <img src="/img/usergroup.png" width="250px"/>
      <br> <!-- New line added here -->

      {{ else }}
      {{ end }}

      <div class="col-lg-2">
    </div>
      <br> <!-- New line added here -->
    </div>
    <div class = "col-md-6">
      {{ .Site.Params.description | markdownify }}
    </div>
  </div>
  
{{ end }}
